/**
 * Ragnarok Online Character Simulator
 */

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    cursor: default;
}

.clickable {
    cursor: pointer;
}
